@import url(index.html);

html,body{

    margin: 0;
    height: 100%;
    padding: 0;
    border: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type:none;
}
.chat{
    display: flex;
}
.sol{

    width: 300px;
    height: 1000px;
    background-color: #ddd;
}
.sag{
    flex: 1;
    background-color: #ccc;
}
.solust .arama input{

    border-radius: 40px;
    padding: 5px;
    margin:10px ;
    width: 270px;
    height: 23px;


}
.solust{
    border-bottom: 2px solid #ccc;
}
.arama{
    display: flex;
    position: relative;


}
.solust .arama img{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-right: 20px;

}

.solasagi img{
    width: 52px;
    height: 52px;
    border-radius: 50%;
    margin-top: 10px;
    
}
li{
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #ccc;
   padding-right: 30px;
   border-radius: 20px;
   margin-left: -39px;
   cursor: pointer;
   padding-left: 5px;
    
}
.isim{
    padding-left: 16px;
    font-size: 24x;
    font-weight: 600;
    padding-top: 10px;
}
.yazi{
    margin-left: 70px;
    padding-bottom: 12px;
}
li:hover{
    background-color: #ccc;
    cursor: white;
}
.sagust{
    height: 57px;
    border-bottom: 1px solid rgba(136, 132, 132, 0.281);
    display: flex;
}

.sagust .sagyazi{
    font-size: 27px;
    padding-left: 30px;
    margin-top: 4px;
    font-weight: 550;
    margin-left: -15px;

}
.sagyazisure{
    font-weight: 200px;
    color:gray;
    margin-left: -162px;
    font-size: 14px;
    margin-top: 36px;
    flex-direction: column;
}
.sagustresim img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 6px;
}
.information{
    margin-left: 1350px;
    margin-top: 12px;
}
.information img{
    width: 30px;
    height: 30px;
    cursor: pointer;

}
.nokta img{
    width: 30px;
    height: 30px;
    margin-top: 12px;
    margin-left: 20px;
    cursor: pointer;
}
.sagyazi{
    user-select: none;
}
.sagalt{
    align-items: center;
    margin-top: 640px;
    position: fixed;

}
.sagalt input{
    width: 1400px;
    height: 50px;
    border-radius: 30px;
    font-size: 25px;
}
.sagalt img{
    cursor: pointer;
    
}
.simgeler{
    display: flex;
    border-top: 2px solid #ddd;
    padding-top: 7px ;
    margin-top: 12px;
}
.sagaltsimge img{
    padding-left: 20px;
}
.mesaj{
border: 2px solid 2196f3;
border-radius: 40px;
width: max-content;
background-color: rgba(238, 238, 238, 0.692);
color: black;
padding: 10px;
margin-left: 20px;
margin-top: -50px;

}
.mesajsure{
    margin-left: 28px;
    margin-bottom: 5px;
    color: gray;
    font-size: 13px;
    padding-top: 6px;
}
.mesaj2{
    margin-bottom: 6px;
    margin-left: 1300px;
    border: 2px solid 2196f3;
    border-radius: 40px;
    width: max-content;
    background-color: #2196f3;
    color: white;
    padding: 10px;
}
.mesaj2sure{
    margin-left: 1490px;
    padding-bottom: 80px;
    color: gray;
}
.sagyazisure{
    margin-left: -115px;
}