body{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddd;
    list-style-type: none;
}
ul{
    list-style-type: none;
    display: flex;
    margin-left: 580px;

}

.navbarbaslik{
    margin: 40px;
    font-size: 60px;
    font-weight: 600;
    margin-left: 70px;
    position: absolute;
    top: 10px;
    user-select:none;
    margin-top: 10px;
}

li{
    margin-left: 60px;
    font-size: 25px;
    margin-top: 40px;
    font-weight: 100;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.meslek{
    position: absolute;
    top: 100px;
    font-size: 28px;
    left: 75px;
    font-family: 200;
    user-select: none;
}
li:hover{
     color: aqua;
    cursor: pointer;
    transition: 300ms all;
    border-bottom: 3px solid aqua;
   
}

.resim img{
    border-radius: 50%;
    margin-left: 192px;
    margin-top: 130px;
}
.resim{
    display: flex;
}

.yazibaslik{
    text-transform: uppercase;
    font-size: 50px;
    margin-top: 120px;
    margin-left: 80px;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;

}
.yazilar{
    font-size: 20px;
    margin-left: 80px;
    margin-top: 13px;    
    
}
.yazilar1{
    font-size: 20px;
    margin-left: 80px;
    margin-top: 13px;    
    
}
.yazilar2{
    font-size: 20px;
    margin-left: 80px;
    margin-top: 13px;    
    
}
.yazilar3{
    font-size: 20px;
    margin-left: 80px;
    margin-top: 13px;    
    
}
.resimler{
    display: flex;
    transition: 600ms all;
}
.resim1{
    width: 250px;
    height: 120px;
    background-image: url(https://st.depositphotos.com/1813957/4911/i/950/depositphotos_49113051-stock-photo-light-blue-background.jpg);
    position: absolute;
    left: 550px;
    border-radius: 40px;
    transition: 700ms all;
    overflow: hidden; 
}

.resim1::before{
    content: '';
    position: absolute;
    left: 60px;
    top: -40px;
    width: 125px;
    border-radius: 40px;
    height: 280%;
    background: linear-gradient(#ddd,#6e6d6d);
    animation: alternate linear infinite 4s 0s animate;
    z-index: -2;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }



}
.resim1::after{
    content: '';
    position: absolute;
    background: url(https://st.depositphotos.com/1813957/4911/i/950/depositphotos_49113051-stock-photo-light-blue-background.jpg);
    inset: 4px;
    z-index: -1;
    border-radius: 40px;

}
.resim2{
    width: 250px;
    height: 120px;
    background-image: url(https://st.depositphotos.com/1813957/4911/i/950/depositphotos_49113051-stock-photo-light-blue-background.jpg);
    position: absolute;
    left: 850px;
    border-radius: 40px;
    transition: 700ms all;
    overflow: hidden;
}

.resim2::before{
    content: '';
    position: absolute;
    left: 60px;
    top: -55px;
    width: 125px;
    border-radius: 40px;
    height: 240%;
    z-index: -2;
    background: linear-gradient(#ddd,#6e6d6d);
    animation: alternate linear infinite 4s 0s animate;
    
}
.resim2::after{
    content: '';
    position: absolute;
    background: url(https://st.depositphotos.com/1813957/4911/i/950/depositphotos_49113051-stock-photo-light-blue-background.jpg);
    inset: 4px;
    z-index: -1;
    border-radius: 40px;

}
.resim3{
    width: 250px;
    height: 120px;
    background-image: url(https://st.depositphotos.com/1813957/4911/i/950/depositphotos_49113051-stock-photo-light-blue-background.jpg);
    position: absolute;
    left: 1150px;
    border-radius: 40px;
    transition: 700ms all;
    z-index: -2;
    overflow: hidden;
}
.resim3::before{
    content: '';
    position: absolute;
    left: 60px;
    top: -66px;
    width: 125px;
    border-radius: 40px;
    height: 240%;
    background: linear-gradient(#ddd,#6e6d6d);
    animation: alternate linear infinite 4s 0s animate;
    z-index: -2;
}
.resim3::after{
    content: '';
    position: absolute;
    background: url(https://st.depositphotos.com/1813957/4911/i/950/depositphotos_49113051-stock-photo-light-blue-background.jpg);
    inset: 4px;
    border-radius: 40px;
    z-index: -1;
}

.resim1:hover{
    border: 4px solid white;
    transform: translateY(-20px);
}
.resim2:hover{
    background-color: darkorchid;
    border: 4px solid white;
    transform: translateY(-20px);
}
.resim3:hover{
    border: 4px solid white;
    transform: translateY(-20px);
}
.resimbaslik{
    margin-left: 32px;
    font-size: 25px;
    margin-top: 10px;
    color: black;
    font-weight: 800;
}
.anayazi button{
    width: 130px;
    height: 40px;
    margin-left: 60px;
    margin-top: 12px;
    line-height: 15px;
    border-radius: 10px;
    border: 2px solid white;
    font-weight: 800;
    background-image: url(https://st.depositphotos.com/1813957/4911/i/950/depositphotos_49113051-stock-photo-light-blue-background.jpg);
    background-size: cover;
    color: black;

}
.anayazi button:active{
    display: none;
}
.kodlar{
    display: none;

}
.anayazi button:active + .kodlar{
    display: block;
    margin-left: 24px;
    margin-top: 28px;
    font-size: 16px;
    font-weight: 800;
    color: rgb(61, 61, 61);
}
.resimbaslik2{
    margin-left: 29px;
    color: black;
    margin-top: 4px;
    font-size: 24px;
    font-weight: 800;
}
.anayazi2 button{
    width: 130px;
    height: 40px;
    margin-left: 60px;
    margin-top: 16px;
    border-radius: 10px;
    border: 2px solid white;
    font-weight: 800;
    line-height: 15px;
    background-image: url(https://st.depositphotos.com/1813957/4911/i/950/depositphotos_49113051-stock-photo-light-blue-background.jpg);
    background-size: cover;
    color: black;
}
.bilgiler2{
    color: rgb(61, 61, 61);
    font-weight: 800;
    margin-top: -20px;
    margin-left: 25px;
    font-size: 15px;
    display: none;
}
.bilgiler21{
    color: rgb(61, 61, 61);
    font-weight: 800;    
    margin-top: 2px;
    font-size: 15px;
    margin-left: 25px;
    display: none;
}
.bilgiler22{
    color: rgb(61, 61, 61);
    font-weight: 800;    
    margin-top: 3px;
    margin-left: 22px;
    font-size: 15px;
    display: none;
    font-weight: 800;

}
.anayazi2 button:active{
    display: none;
}
.anayazi2 button:active + .bilgilerr .bilgiler2{
    display: block;
    margin-top: 10px;
}
.anayazi2 button:active + .bilgilerr .bilgiler21{
    display: block;

}
.anayazi2 button:active + .bilgilerr .bilgiler22{
    display: block;

}
.anayazi3 button{
    width: 130px;
    height: 40px;
    margin-left: 60px;
    margin-top: 20px;
    font-size: 14px;
    border-radius: 10px;
    border: 2px solid white;
    font-weight: 800;
    line-height: 15px;
    background-image: url(https://st.depositphotos.com/1813957/4911/i/950/depositphotos_49113051-stock-photo-light-blue-background.jpg);
    background-size: cover;
    color: rgb(0, 0, 0);
}
.resimbaslik3{
    margin-left: 20px;
    color: black;
    margin-top: 6px;
    font-size: 19px;
    font-weight: 800;
}
.bilgilerrr{
    display: none;
    font-weight: 600;
}
.anayazi3 button:active + .bilgilerrr{
    display: block;
}
.anayazi3 button:active{
    display: none;
}
.bilgiler3{
    color: rgb(61, 61, 61);
    font-weight: 800;
    margin-top: 1px;
    margin-left: 24px;
    font-size: 18px;
}
.bilgiler31{
    color: rgb(61, 61, 61);
    font-weight: 800;
    margin-top: 25px;
    margin-left: 24px;
    font-size: 18px;
}
.bilgiler32{
    color: rgb(61, 61, 61);
    font-weight: 800;
    margin-top: -50px;
    margin-left: 24px;
    font-size: 18px;
}

