body{
    padding: 0;
    margin: 0;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Rubik+80s+Fade&family=Rubik+Spray+Paint&family=Rubik+Vinyl&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

.navbar{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    height: 100px;
    width: 100%;
    background-color: rgb(12, 2, 22);
    margin-top: 13px;
    align-items: center;
    box-shadow: 3px 2px 10px black;
    
}
.navbarlogo{
    font-family: 'Rubik Spray Paint', cursive; 
    font-size: 52px;   
    color: white;
    box-sizing:border-box;
}
.navbar .li a{
    text-decoration: none;
    list-style-type: none;
    color: white;
    font-size: 28px;
    margin-left: 45px;
    font-family: 'Oswald', sans-serif;
    border: 2px solid #ddd;
    padding: 10px;
    border-radius: 20px;
    transition: 0.5s;


}
.navbar .li a:hover{
    background-color: rgb(49, 11, 84);
}
.navbar .li{
    list-style-type: none;
    display: inline-block;


}
.mediumarea{
    width: 100%;
    height: 90vh;
    background-image: url(https://r.resimlink.com/Phtdk-.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.mediumarea h4 {
    color: white;
    font-size:57px;
    font-weight: 600;
    font-family: 'Rubik 80s Fade', cursive;
    margin-bottom: 20px;
    position: relative;
    top: -8%;
    border-bottom: 2px solid #ddd;
    padding-bottom: 20px;
}
.mediumarea .button{
    display: flex;
}
.mediumarea .button a{
    width: 200px;
    height:50px;
    display: flex;
    border: 2px solid #ddd;
    align-items: center;
    text-decoration: none;
    background-color: rgba(230, 222, 238, 0.651);
    justify-content: center;
    font-size: 25px;
    margin-left: 20px;
    border-radius: 10px;
    font-family: 'Rubik 80s Fade', cursive;
    color: rgb(0, 0, 0);
    font-weight: 600;
    padding: 5px;
    transition: 0.3s;



}
.mediumarea .button a:hover{

    padding-left: 20px;
    padding-right: 20px;

}
.bottomarea{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.area{
    border: 2px solid gray;
    border-radius: 10px;
    margin: 5px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 22%;
    text-align: justify;
    padding: 10px;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    background-image: linear-gradient(rgb(222, 198, 221),rgb(82, 31, 31));
    color: white;

}
.css{
    width: 300px;
    height: 245px;
    
}
.js{
    width: 380px;
    height: 245px;
}
.c{
    width: 300px;
    height: 300px;
}
.navbar span{
    color: white;
    font-size: 300%;
    cursor: pointer;
    display: none;
}
.navigation{
    width:50px;
    height: 50px;
    background-color: rgb(21, 18, 24);
    position: absolute;
    top: 40px;
    right: 50px;
    transition: width 0.3s, height 0.3s;
    transition-delay: 0s,0.45s; 
    z-index: 10000;
    border-radius: 10px;
    overflow: hidden;
    
}
.navigationn{
    display: none;
}
.navigation .toggle{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(41, 40, 47);
    transition: 0.5s;

}

.navigation .toggle::before{
    content: '+';
    position: absolute;
    font-size: 2.5em;
    left: 12px;
    top: -4px;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: white;
    font-weight: 400;
    transition: 0.5s;

}
.navigation .toggle.active::before{
    transform: rotate(360deg);
}
.navigation.active{
    width: 265px;
    height: 470px;
    transition: height 0.3s, width 0.3s;
    transition-delay: 0s,0.5s;
    
}
.navigation .toggle.active{
    background-color:rgb(37, 21, 37)
}
.list{
    list-style-type: none;
}
.list li a{
    color: white;
    text-decoration: none;
    font-size: 35px;
    margin-left: -30px;
    padding: 30px;
    padding-right: 50px;
    line-height: 120px;
    border-radius: 20px;
    transition: 0.5s;
    padding-left: 10px;
}
.list li a .about{
    padding-right: 30px;
}
.list li a .history{
    padding-right: 10px;
}
.list li a:hover{
    background-color: rgb(46, 20, 70);
}

@media (max-width:765px){
    .bottomarea{
     flex-wrap: wrap;
     
    }
    .area{
     width: 100%;
     padding: 10px;
    }
    .mediumarea h4{
     font-size: 220%;
    }
    .navbar .li{
     display: none;
    }
    .navbar span{
     display: block;
     
 }
 .mediumarea .button a{
     margin-left: 10px;
     width: 160px;
     height:40px;
     font-size: 20px;
 
 }
 .navigationn{
     display: block;
 
 }

}
