@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Oswald&family=Poppins:wght@200;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.3s ease;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: rgb(250, 171, 24);

}
html{
    overflow-x: hidden;
}
input{
    text-decoration: none;
    border: none;
}
html::-webkit-scrollbar{
    width: 0.7rem;
    background-color: white;
}
html::-webkit-scrollbar-thumb{
    background-color: rgb(255, 115, 0);
    border-radius: 4rem;
}
.top button{
    border: none;
    background-color: white;
}

/*HEADER PART*/
header{
    display: flex;
    height: 7rem;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    margin: 1.5rem 3rem;
    border-radius: 30px;
    box-shadow: 0px 0px 15px -2px black;
    z-index: 10000;
    position: sticky;
    top: 0;
}
header .buttons{
    margin-left: 10rem;
    cursor: pointer;
    display: flex;
}
#bars{
    display: none;
}
header .buttons i{
    font-size: 2.2rem;
    margin-left: 1rem;
}

header a{
    color: black;
    font-size: 1.5rem;
    margin-left: 40px;
    border-bottom: 2px solid transparent ;
}
header nav a:hover{
    border-bottom: 2px solid rgb(250, 171, 24);
    padding-bottom: 4px;

}
header nav a.active{
    border-bottom: 2px solid rgb(250, 171, 24);

}
header a img{
    margin-left: -2rem;
    height: 5rem;
    padding: 1rem 2rem;
}
header .form{
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: white;
    position: absolute;
    border-radius: 10px;
    width: 30rem;
    height: 2.5rem;
    top: 110%;
    border-color: white;
    right: 2%;
    transform: scale(0);
    z-index: -100;

}
.form i{
    cursor: pointer;
}
header .form.active{
    transform: scale(1);
}
#magni{
    cursor: pointer;
}
header .form input{
    width: 100%;
    height: 2.3rem;
    border-radius: 5px;
}
header .form i {
    cursor: pointer;
    font-size: 1.3rem;
    margin-right: 1rem;
}

/*HEADER PART*/


/*MAİN PART*/

.main{
    min-height: 100vh;
    background: url(https://r.resimlink.com/ofsqiY0.jpg) no-repeat;
    background-size: cover;
    margin-top: -10.7rem;
    display: flex;
    align-items: center;
    
}
.main .contents{
    max-width:50rem;
    margin-left: 3rem;
}
.main h2{
    font-size: 50px;
    color:aliceblue;
}
.btn{
    border-radius: 1rem;
    width: 9rem;
    height: 4rem;
    background-color: black;
    border-color: black;
    cursor: pointer;
    margin-top: 2rem;
    font-size: 1.2rem;
    color: white;
}
.btn:hover{
    scale: 1.05;
}
.main p{
    font-size: 24px;
    font-weight:400;
    line-height: 40px;
    color: rgb(226, 225, 225);
    margin: 20px 0px;
}
/*MAİN PART*/




/*DOWN PART*/

.down{
    margin: 2rem 3rem;
}
.down img{
    height: 11rem;
}
.down h2{
    font-size: 5rem;
    color: #fff;
}
.down .box{
    background-color: rgb(237, 236, 236);
    height: 32rem;
    max-width: 25%;
    padding: 3rem;
    border-radius: 40px;
    margin-top: 2rem;
}
.down .boxmenu{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.down .box .boxname{
    font-weight: 500;
    margin-top: 1.2rem;
    font-size: 1.8rem;
}
.down .box .boxingr{
    margin-top: 0.2rem;
    color: rgb(137, 136, 136);
}
.down .boxprice{
    margin-top: 3rem;
}
.down .box .boxprice .price1{
    font-size: 2.7rem;
}
.down .boxprice .price2{
    margin-left: 1rem;
    font-weight: 300;
    font-size: 1.5rem;
    text-decoration: line-through;

}
.btncard{
    border-radius: 1rem;
    width: 10rem;
    height: 4rem;
    background-color: black;
    border-color: black;
    cursor: pointer;
    font-size: 1.1rem;
    color: white;
}
.btncard:hover{
    scale: 1.05;
}
/*DOWN PART*/

/*WHO PART*/

.who{
    margin: 10rem 3rem;
}

.who span{
    font-size: 5.3rem;
    color: #fff;
    font-weight: 600;
}
.who .span3{
    color:rgb(250, 71, 21) ;
}
.who .about .span3{
    color:rgb(250, 71, 21) ;
}

.who .span1{
    color: black;
}

.who .about span{
    font-size: 3.5rem;
    color: #fff;
    margin-left: 2.5rem;
    font-weight: 600;

}
.who .contents{
    display: flex;
    margin-top: 2.8rem;
}
.who img{
    border-radius: 20px;
}

.who .sentences{
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 1.2rem;
    margin-left: 3rem;
    max-width: 65rem;
    color: rgb(255, 255, 255);
    font-weight: 300;
}
.who .about{
    margin-top: -1.4rem;
} 
.who .about .span1{
    color: black;
}
/*WHO PART*/

/*REVİEW PART*/

.review{
    margin-left: 3rem;
    margin-top: 6rem;
}
.review span{
    font-size: 5.3rem;
    color: #fff;
    font-weight: 600;
}
.review .span3{
    color:rgb(250, 71, 21) ;
    margin-left: 1rem;
}
.review .about .span3{
    color:rgb(250, 71, 21) ;
}

.review .span1{
    color: black;
    margin-right: 1rem;
}
.comments{
    margin-top: 3rem;
    margin-right: 3rem;
    display: flex;
    justify-content: space-around;
}
.comments .box{
    display: flex;
    background-color: #fff;
    padding: 1rem;
    max-width: 30%;
    border-radius: 20px;
}
.comments .reviewname{
    font-size: 2rem;
    font-weight: 600;
    color:rgb(250, 71, 21) ;

}
.comments i{
    margin-top: 0.9rem;
    color:rgb(250, 71, 21) ;
}
.comments .reviewcontent{
    margin-top: 1rem;
    font-weight: 400;
    font-size: 1.2rem;
}
.comments img{
    height: 14rem;
    width: 12rem;
}
/*REVİEW PART*/


/*ABOUT PART*/

.abouts{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    padding: 3rem 3rem;
}
.abouts .box{
    max-width: 35%;
}
.abouts h2{
    font-size: 2.4rem;
    font-family: 'Courier Prime', monospace;
}
.abouts h2 i{
    font-size: 1.8rem;
    margin-left: 1rem;
}
.abouts .boxsentences{
    margin-top: 1.2rem;
    font-family: 'Courier Prime', monospace;
    line-height: 1.7rem;
    font-weight: 200;
    text-transform: none;
}
/*ABOUT PART*/


/*RESPONSİVE PART*/

@media(max-width:950px){
    body{
        overflow-x: hidden;
    }
    header{
        position: relative;
        height: 6.5rem;
        margin: 1.5rem 1rem;
    }
    header .nav{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: white;
        width: 20rem;
        box-shadow: 2px 4px 16px 2px black;
        border-radius: 20px;
        height: calc(100vh - 9.8rem);
        padding: 0.4rem;
        
    }
    header .nav.active{
        right: 0%;
    }
    header nav a{
        display: block;
        margin: 2.2rem;
        font-size: 2.3rem;
    }  
    header .buttons{
        margin-left: -4%;
    }
    header .buttons i{
        font-size: 1.8rem;
    }
    header .form{
        width: 20rem;
    }
    #bars{
        display: block;
        cursor: pointer;
    }
    
    .main .contents{
        margin-top: 4rem;
        margin-left: 1.5rem;
    }
    .down .boxmenu{
        flex-wrap: wrap;
    }
    .review .comments{
        flex-wrap: wrap;
    }
    .who .contents{
        flex-wrap: wrap;
    }
    .abouts{
        flex-wrap: wrap;
    }
    .who .content img{
        width: 19rem;
    }
    .top .logo img{
        width: 5rem;
        height: 4rem;
    }
    .down{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .down h2{
        font-size: 3.5rem;
    }
    .down .box{
        margin-left: 1rem;
        margin-right: 1rem;
        max-width: 100%;
        width: 65%;
    }
    .down .box img{
        width: 14rem;
    }
    .review{
        margin-top: 5rem;
        margin-left: 3.5rem;
    }
    
    .review .box{
        margin-top: 2rem;
        max-width: 100%;
    }
    .review .box img{
        width: 6rem;
        height: 6rem;
    }
    .review span{
        font-size: 3.2rem;
    }
    
    .review .span3,.span2,.span1{
        margin-left: -1rem;
    }
    .comments #comments-box1{
        margin-top: 2rem;
    }
    .who{
        margin-top: 5rem;
    }
    .who span{
        font-size: 4rem;
    }
    .about span{
        display: none;
    }
    .about .sentences{
        margin-top: 4rem;
        font-weight: 400;
        font-size: 1.4rem;
        margin-left: 0rem;
    }
    .abouts .box{
        width: 100%;
        max-width: 100%;
        margin-top: 2.5rem;
    }
    
   
    


    
}
/*RESPONSİVE PART*/













